<a href="https://colab.research.google.com/github/7ossamRefaa3y/jobot/blob/main/train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n1 = float(input("Enter first number: "))
n2 = float(input("Enter second number: "))
op = input("Enter operator (+, -, *, /): ")

if op == "+":
    result = n1 + n2
elif op == "-":
    result = n1 - n2
elif op == "*":
    result = n1 * n2
elif op == "/":
    if n2 != 0:  # Check for division by zero
        result = n1 / n2
    else:
        result = "Division by zero error!"
else:
    result = "Invalid operator"

print(f"Result: {result}")

Enter first number: 2
Enter second number: 2
Enter operator (+, -, *, /): *
Result: 4.0

In [ ]:
from math import *
n=(2)
print (sqrt(4.8))

2.1908902300206643

In [ ]:
n1 = float(input("inter no1 : "))
n2 = float(input("inter no2 : "))
op= input ("inter op(-,+, *, /) : ")
if op == "-":
  result = n1-n2
elif op == "+":
    result = n1+n2
elif op == "*":
      result = n1*n2
elif op == "/":
        if n2 !=0 : # Check for division by zero
          result = n1/n2
        else :
          result = "You can not divide by Zero"
else:
          result = "invalid op"
print (f"result = {result}")

In [ ]:
color = input("enter color : ")
plural = input("enter plural: ")
adj = input("enter adj: ")

print(f"{color} ffkvdldoo")
print(f"{plural} ffkvdldoo")
print(f"{adj} ffkvdldoo")

green
dev
dev
green ffkvdldoo
dev ffkvdldoo
dev ffkvdldoo

In [ ]:
freinds = [1, "Ahmed", 2, "Mohammed", 3, 4, "Mahmoud"]
fr= ["om", "Ab", "Akh"]

print(freinds.count())

TypeError: list.count() takes exactly one argument (0 given)

In [6]:

  print (2^6)

4

In [18]:
#SUM=8 WHAT IS PAIR OF NUMBER THAT SUM EQUAL EAT AT EACH list
LIST1 = [1,2,3,9]
#SUM=8 WHAT IS PAIR OF NUMBER THAT SUM EQUAL EAT AT EACH list

for i in range(len(LIST1)):
          if LIST1[i] + LIST2[i] == 8:
            print(LIST1[i], LIST2[i])
          elif LIST1[i] - LIST2[i] == 8:
            break

In [31]:

LIST1 = [1, 2, 3, 9, 7, 5, 6, 4]  # Example list
LIST2 = [2, 2, 3, 9, 7, 5, 6, 4]  # Example list
for i in range(len(LIST1)):
    for j in range(i + 1, len(LIST1)):  # Start from i + 1 to avoid duplicate pairs
        if LIST1[i] + LIST1[j] == 8 or LIST1[i] - LIST1[j] == 8 or LIST1[j] - LIST1[i] ==8 :
            print(f" pair1 : {LIST1[i], LIST1[j]}")

for i in range(len(LIST2)):
    for j in range(i + 1, len(LIST2)):
       if LIST2[i] + LIST2[j] == 8 or LIST2[i] - LIST2[j] == 8 or LIST2[j] - LIST2[i] == 8 :
          print(f" pair2 : {LIST2[i], LIST2[j]}")

 pair1 : (1, 9)
 pair1 : (1, 7)
 pair1 : (2, 6)
 pair1 : (3, 5)
 pair2 : (2, 6)
 pair2 : (2, 6)
 pair2 : (3, 5)